<link rel="stylesheet" type="text/css" href="https://www.marutisuzuki.com/css/arenahome/arenahomecommon.css">
 <!-- Arena_Home_Common_Liberary -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Arena_Home_Common_Liberary -->

    <link rel="stylesheet" type="text/css" href="https://marutisuzukiarenaprodcdn.azureedge.net/css/arenahome/arenaheader.css?version=20231212">
    <link rel="stylesheet" type="text/css" href="https://marutisuzukiarenaprodcdn.azureedge.net/css/arenahome/arenaheaderloginpopup.css">
    <link rel="stylesheet" type="text/css" href="https://marutisuzukiarenaprodcdn.azureedge.net/css/arenahome/quicklink.css">
    <link rel="stylesheet" type="text/css" href="https://marutisuzukiarenaprodcdn.azureedge.net/css/arenahome/arenafooter.css">

<style>
@media (min-width: 1366px) and (max-width: 1920px) {
body.arenahomepage .heroSliderWrapepr .hero2-container .itemwrapper {width: 25%;}
}
</style>


<section class="footer-component">
    <footer class="container-fluid">
        <div class="row">
            <div class="col-lg-3 reach_us pull-left">
                    <span class="tittle_reachus">Reach Us</span>
                    <p class="sub-head-text">2760 sales outlets in India distributed across 2313 cities</p>
<p style="font-size: 10px;" class="hidden-xs hidden-sm">Till 1st Feb’23</p>                                        <a href="/dealer-showrooms" id="lad-footer" class="locate-btn col-lg-5 footer_menu1">Locate A Dealer</a>
                                        <a href="/book-showroom-visit" id="bsv-footer" class="locate-btn showroom-btn">Book Showroom Visit</a>
            </div>

            <section class="col-lg-6 footer_menu">
                <div class="row">
                                <div class="col-lg-4 menu-blocks">
                                    <h4 id="1-footerPrimary">Corporate</h4>

                                    <ul>
                                            <li id="1-footerSubPrimary-1">
<a href="/corporate/about-us">About Us</a>                                            </li>
                                            <li id="1-footerSubPrimary-2">
<a href="/corporate/investors">Investors</a>                                            </li>
                                            <li id="1-footerSubPrimary-3">
<a href="/corporate/careers">Careers</a>                                            </li>
                                            <li id="1-footerSubPrimary-4">
<a href="/corporate/media">Media</a>                                            </li>
                                            <li id="1-footerSubPrimary-5">
<a href="/corporate/reach-us">Reach Us</a>                                            </li>
                                    </ul>
                            </div>
                                <div class="col-lg-4 menu-blocks">
                                    <h4 id="2-footerPrimary">Sales</h4>

                                    <ul>
                                            <li id="2-footerSubPrimary-1">
<a href="/channels/arena/all-cars">MARUTI SUZUKI ARENA</a>                                            </li>
                                            <li id="2-footerSubPrimary-2">
<a href="https://www.nexaexperience.com" target="_blank">Nexa</a>                                            </li>
                                            <li id="2-footerSubPrimary-3">
<a href="https://www.marutisuzukitruevalue.com/" target="_blank">True Value</a>                                            </li>
                                            <li id="2-footerSubPrimary-4">
<a href="https://www.marutisuzukicommercial.com" target="_blank">Commercial</a>                                            </li>
                                    </ul>
                            </div>
                                <div class="col-lg-4 menu-blocks">
                                    <h4 id="3-footerPrimary">More From Us</h4>

                                    <ul>
                                            <li id="3-footerSubPrimary-1">
<a href="https://www.marutisuzukidrivingschool.com/">Maruti Suzuki Driving School</a>                                            </li>
                                            <li id="3-footerSubPrimary-2">
<a href="/more-from-us/finance">Maruti Suzuki Smart Finance</a>                                            </li>
                                            <li id="3-footerSubPrimary-3">
<a href="/more-from-us/insurance">Maruti Suzuki Insurance Broking</a>                                            </li>
                                            <li id="3-footerSubPrimary-4">
<a href="/more-from-us/maruti-suzuki-rewards">Maruti Suzuki Rewards</a>                                            </li>
                                            <li id="3-footerSubPrimary-5">
<a href="/genuine-accessories">Maruti Suzuki Genuine Accessories</a>                                            </li>
                                            <li id="3-footerSubPrimary-6">
<a href="/genuine-parts">Maruti Suzuki Genuine Parts</a>                                            </li>
                                            <li id="3-footerSubPrimary-7">
<a href="/more-from-us/maruti-suzuki-leasing">Maruti Suzuki Leasing</a>                                            </li>
                                            <li id="3-footerSubPrimary-8">
<a href="/more-from-us/institutional-customers">Institutional Customers</a>                                            </li>
                                            <li id="3-footerSubPrimary-9">
<a href="/subscribe">Maruti Suzuki Subscribe</a>                                            </li>
                                    </ul>
                            </div>
            </div>
            </section>
            <section class="col-lg-3 social_media pull-right text-right">
                <div class="foter-mail-cno">
                        <a href="tel:18001021800">
                            <h3>1800 102 1800</h3>
                        </a>
                    <a href="mailto:contact@maruti.co.in" id="mail-id">
                        <h3>contact@maruti.co.in</h3>
                    </a>
                </div>
                        <ul class="pull-right">
                                    <li>
<a href="https://api.whatsapp.com/send/?phone=%2B919289311487&amp;text=Hello&amp;type=phone_number&amp;app_absent=0" target="_blank"><img src="https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/global/social-media-icons/black_whatsup.png?h=30&amp;w=30&amp;la=en&amp;hash=FF64C86CA46E73CE352B77227C49A41A" alt=""></a>                                    </li>
                                    <li>
<a href="tel:18001021800"><img src="https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/global/social-media-icons/mobile.png?h=30&amp;w=30&amp;la=en&amp;hash=670023B93FA9E5503B0831A1F0B23FBF" alt="Mobile"></a>                                    </li>
                                    <li>
<a href="mailto:contact@maruti.co.in"><img src="https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/global/social-media-icons/mail.png?h=30&amp;w=30&amp;la=en&amp;hash=1DC6FB6C9F5D9D3701F2A715CA8F8F54" alt="mail"></a>                                    </li>
                                    <li>
<a href="https://www.facebook.com/MSArenaOfficial" target="_blank"><img src="https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/global/social-media-icons/facebook-footer.png?h=30&amp;w=34&amp;la=en&amp;hash=65422ED3D2F18DF30E6FE0340A833625" alt="facebook footer"></a>                                    </li>
                                    <li>
<a href="https://twitter.com/Maruti_Corp" target="_blank"><img src="https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/global/social-media-icons/twitter-footer.png?h=30&amp;w=32&amp;la=en&amp;hash=2C3DE4AE935C576BFC9B6EBB36775CB9" alt="twitter footer"></a>                                    </li>
                        </ul>

                <div class="play-store-link">
                    <h3>Download App </h3>
                    <a href="https://play.google.com/store/apps/details?id=com.marutisuzuki.rewards&amp;hl=en_IN&amp;utm_source=CorpMain&amp;utm_medium=Footerlinks" id="msr-android" class="msr-button" target="_blank"><img data-src="https://marutisuzukiarenaprodcdn.azureedge.net/images/msr-android.webp" class="msr-img ls-is-cached lazyloaded" alt="" width="130" height="40" src="https://marutisuzukiarenaprodcdn.azureedge.net/images/msr-android.webp"></a>
                    <a href="https://apps.apple.com/in/app/maruti-suzuki-rewards/id1508484230?utm_source=CorpMain&amp;utm_medium=Footerlinks" id="msr-ios" class="msr-button" target="_blank"><img data-src="https://marutisuzukiarenaprodcdn.azureedge.net/images/msr-ios.webp" class="msr-img ls-is-cached lazyloaded" alt="" width="130" height="40" src="https://marutisuzukiarenaprodcdn.azureedge.net/images/msr-ios.webp"></a>
                </div>

                <div class="whats_app_qr_code">
                    <ul>
                        <li><span>SCAN TO CHAT WITH US</span></li>
                        <li><img data-src="/images/footer_whatsapp_qr.webp" class="msr-img ls-is-cached lazyloaded" alt="" width="100" height="100" src="/images/footer_whatsapp_qr.webp"></li>
                    </ul>
                </div>
            </section>
        </div>
<div class="row">
        <div class="col-sm-12">
<p class="disclaimer-paragraph">*Car images shown are of top variant and for illustration purposes only. Accessories and features may not be part of standard equipment.</p>
            <p class="disclaimer-paragraph">*The content and information available on this website is limited to the sales and services offered by Maruti Suzuki India Limited in the jurisdiction of India only.</p>
            <p class="disclaimer-paragraph">*Prices/Schemes prevailing at the time of invoice /bill shall be applicable.</p>
            <p class="disclaimer-paragraph"><strong>*Caution: Beware of Fake Promotions or Offers</strong></p>
            <p class="disclaimer-paragraph">Please do not believe or engage with any promotional messages (SMS) or Web-link which ask you to click on a link and fill in your details to win a Maruti Suzuki car. These SMS or Web-link based offers are fake, and Maruti Suzuki India Limited bears no liability or responsibility whatsoever for any such communication which is fraudulent or misleading in nature.</p>
</div>
</div>        <div class="row">
            <div class="copy-right col-lg-12">
            <p class="pull-left">© MARUTI SUZUKI INDIA LIMITED</p>
            <ul class="pull-right">
                <li><a href="/terms-of-use">Terms of Use</a></li>
                <li><a href="/data-provider-consent-policy">Data Provider Consent Policy</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
            </ul>
        </div>
        </div>
    </footer>
</section>