<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='msil.apps.imageText'}"/>
</sly>

<h2>${pageProperties.navTitle || properties.title}</h2>
<sly data-sly-use.button="/apps/msil/components/slytemplate/cta-template.html"/>
<div class="container">
  <img src="${properties.image}" alt="Snow" style="width:100%;">
  <div class="bottom-left">${properties.bottomLeftText}</div>
  <div class="top-left">${properties.topLeftText}</div>
  <div class="top-right">${properties.topRightText}</div>
  <div class="bottom-right"> ${properties.bottomRightText}</div>
  <div class="centered">${properties.centerText}</div>
</div>


<div data-sly-call="${button.ctaButton @ text='GMAIL', url='https://www.gmail.com', target='_self'}">




